<%-include("partials/header.ejs")%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/admin">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/admin/transactions">Transactions</a>
      <a class="nav-link" href="/admin/purchaseorder">Purchase  Details</a>
      <a class="nav-link" href="/admin/employeedetails">Employee Details</a>
      <a class="nav-link" href="/admin/stats">Statistics</a>
      <a class="nav-link" href="/admin/supplier">Supplier Details</a>
      <a class="nav-link" href="/admin/customer">Customer Details</a>
      <a class="nav-link" href="/admin/customer">Product Details</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>


<div class="container">
  <h1 class="text-center my-4">ADD EMPLOYEE</h1>
  <hr>
  <form action="/admin" method="post">
  <div class="container">
    <div class="row">
      <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group col-md-6">
      <label for="mobileno">MobileNo</label>
      <input type="text" class="form-control" id="mobileno" name="mobileno">
    </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Gender:</label>
        <div class="container">
          <label for="male">Male: </label>
          <input type="radio" name="gender" value="m" id="male">
          <label for="female">Female: </label>
          <input type="radio" name="gender" value="f" id="female">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age">
      </div>
    </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="address">address:</label>
      <input type="text" name="address" id="address" class="form-control">
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-large btn-outline-success">Submit</button>
  </div>

  </div>

  </form>
</div>











<%- include("partials/footer.ejs") %>
