<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container my-5">
      <h2 class="my-5 text-center">SUPPLIER LOGIN</h2>
      <form action="/supplier/login" class="border" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
